{% extends '_base_dashboard.html' %}

{% load crispy_forms_tags %}

{% block dashboard_content %}

<div class="container">
    <div class=" m-0 info-color shadow white-text text-center py-4">
        Add Notice
    </div>
    <form action="." class="py-3 shadow my-5" method="POST", enctype="multipart/form-data">
        <div class="container">

            {% csrf_token %}
            {% crispy form %}
            <div class="py-3">
                <button type="submit" class="btn btn-lg btn-primary">Submit</button>
            </div>
        </div>
    </form>


</div>
{% endblock %}