{% extends '_base_dashboard.html' %}


{% block dashboard_content %}
<div class="container ">
    <div class="row shadow bg-secondary p-0 m-0">
        
            <div class="col-6 p-0 text-white text-center">
                <a class="w-100 h-100 p-5 btn btn-success" href="{% url 'administrator:student-list' %}">Student</a>
            </div>
            <div class="col-6  p-0 text-white text-center">
                <a class="w-100 h-100 btn btn-primary p-5" href="{% url 'administrator:teacher-list' %}">Staff</a>
                
            </div>
    </div>
    
</div>

{% endblock %}