{% extends '_base_dashboard.html' %}
{% load static %}

{% block dashboard_content %}
<div class=" m-0 info-color shadow white-text text-center py-4">
    <span> SUBJECT </span>
    {{ subject.first_name }}
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="stdpic p-3">
            <img src="{{ student.picture.url }}" alt="">
        </div>
    </div>
    <div class="col-lg-8">
        {{ student.first_name}}

        {{student.start_date}}
    </div>
</div>

{% endblock %}